<!DOCTYPE html>
<html lang="en" ng-app="Zhonghe Portfolio">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>Zhonghe Wen</title>
	
	<link rel="shortcut icon" href="images/ZhongheLogoSmall.png">
	
	<!-- Bootstrap core CSS -->
	<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Plugins -->
	<link href="assets/css/font-awesome.min.css" rel="stylesheet">
	
	<!-- Template core CSS -->
	<link href="assets/css/main.css" rel="stylesheet">
	<script type="text/javascript">
		window.onload = function(){
	    setTimeout(function(){
	    var loader = document.getElementsByClassName("page-loader")[0];
	    loader.className="page-loader fadeout" ;//使用渐隐的方法淡出loading page
	    setTimeout(function(){loader.style.display="none"},2000)
	    },2000)//强制显示loading page 2s
	}
	</script>
</head>


<body>
<div class="WRAPPER">

    <!-- PRELOADER -->
    <div class="page-loader" >
        <div class="preloader-1">
              <div>Loading Zhonghe's Portfolio</div>
              <span class="line line-1"></span>
              <span class="line line-2"></span>
              <span class="line line-3"></span>
              <span class="line line-4"></span>
              <span class="line line-5"></span>
              <span class="line line-6"></span>
              <span class="line line-7"></span>
              <span class="line line-8"></span>
              <span class="line line-9"></span>
        </div>
    </div> 
    <!-- /PRELOADER --> 


	<!-- WRAPPER -->
	<div class="main-body">
		<!-- NAVIGATION -->
		<header class="left-bar">
			<div class="padding-top">
				<img src="images/ZhongheLogo.png" style="margin-left: 15%; width: 70%;">
			</div>

			<div class="social-link">
				<div class="padding-bottom">
					<ul class="non-bullet-ul">
						<li><a href="https://zhonghewen.github.io/images/ZhongheWen_Resume.pdf"><i class="fa fa-download"></i></a></li>
						<li><a href="https://www.linkedin.com/in/zhonghewen"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="mailto:zhonghe.wen@gatech.edu?"><i class="fa fa-envelope-o"></i></a></li>
					</ul>
				</div>
			</div>
		</header>
		<!-- /NAVIGATION -->


		<!-- CONTENTS -->
		<div class="main-content" ng-controller="previewController">

			<!-- TIMELINE -->
			<div class="timeline">
				<div class="timeline-title">
					<div ng-class="introClass" ><p>{{headline}}</p></div>
					<p class="content-title">A UX designer with curiosity of the world and passion to solve problems.</p>
					<p ><a href="https://zhonghewen.github.io/images/ZhongheWen_Resume.pdf"><i class="fa fa-download"></i> Dowload My Resume </a></p>

				</div>

				<div class="projects" id="projectNav">
					<div class="content-title">PROJECTS</div>
					<ul class="non-bullet-ul">
						<li class="project-item" ng-mouseover="setClass('amazoningReview')" ng-class="{'activeAmazoningReview': className == 'amazoningReview'}" >
							<a href="{{project[0].projectLink}}" ><p>{{project[0].brief}}</p><span>&nbsp;{{project[0].duration}}</span></a>
						</li>	

						<li class="project-item" ng-mouseover="setClass('potluck')" ng-class="{'activePotluck': className == 'potluck'}" >
							<a href="{{project[1].projectLink}}" ><p>{{project[1].brief}}</p><span>&nbsp;{{project[1].duration}}</span></a>
						</li>
						<li class="project-item" id="minibayIndex" ng-mouseover="setClass('minibay')" ng-class="{'activeMinibay': className == 'minibay'}" >
							<a href="{{project[2].projectLink}}" ><p>{{project[2].brief}}</p><span>&nbsp;{{project[2].duration}}</span></a>
						</li>	
						<li class="project-item" ng-mouseover="setClass('omniar')" ng-class="{'activeOmniar': className == 'omniar'}" >
							<a href="{{project[3].projectLink}}" ><p>{{project[3].brief}}</p><span>&nbsp;{{project[3].duration}}</span></a>
						</li>	

					</ul>
				</div>

				<div class="works">
					<div class="content-title">WORKS</div>					
					<ul class="non-bullet-ul">
						<li class="project-item" ng-mouseover="setClass('adp')" ng-class="{'activeAdp': className == 'adp'}" >
							<a href="mailto:zhonghe.wen@gatech.edu?"><p>{{work[0].brief}}</p><span>&nbsp; {{work[0].duration}}</span></a>
						</li>	
						<li class="project-item" ng-mouseover="setClass('camore')" ng-class="{'activeCamore': className == 'camore'}" >
							<a href="mailto:zhonghe.wen@gatech.edu?" ><p>{{work[1].brief}}</p><span>&nbsp; {{work[1].duration}}</span></a>
						</li>
					</ul>
				</div>	

						
			</div>
			<!-- /TIMELINE -->

			<!-- DETAILS -->
			<div class="project-des">
				<div class="project-des-item " id={{item.id}} ng-repeat="item in project" ng-style="item.mainColor" >
					<div class="preview" >
                        <!--
                        <p class="content-title font-alt-cap">{{item.title}}</p>                            
						<p style="margin-top: 0px">
						{{item.hashTag}}	</p>	
                        -->
						<video src="{{item.backgroundVideo}}" controls="controls" loop></video>	
						<!--<img src="{{item.img}}">-->
					</div>
					<div class="description">
						<div class="projectHeader">
							<p class="content-title font-alt-cap">{{item.title}}</p>	
                            <p>{{item.highlight}}</p>
						</div>
						<div>
							<p class="font-alt-b">Story</p>
							<p>{{item.story}}</p>
                            <!--
							<p class="font-alt-b">Highlights</p>
							<p>{{item.highlight}}</p>
                        -->
							<p class="font-alt-b">My Role</p>
							<p>{{item.myRole}}</p>
						</div>
						<button class="btn" ng-style="item.buttonColor" > <a href="{{item.projectLink}}">{{item.button}}</a></button>
					</div>
				</div>
				<div class="project-des-item " id={{item.id}} ng-repeat="item in work" ng-style="item.mainColor" >
					<div class="preview" >
						<!--<p>{{item.hashTag}}</p>-->
						<img src="{{item.backGroundImg}}">
					</div>
					<div class="description" >
						<div class="projectHeader">
							<p class="content-title font-alt-cap">{{item.title}}</p>	
                            <p>{{item.highlight}}</p>
						</div>
						<div>
							<p class="font-alt-b">Overview</p>
							<p>{{item.overview}}</p>
							<p class="font-alt-b">Responsibilities</p>
							<p>{{item.responsibilities}}</p>
							<p class="font-alt-b">Deliverables</p>
							<p>{{item.deliverables}}</p>
							<p class="font-alt-b">Challenges</p>
							<p>{{item.challenges}}</p>							
						</div>
						<button class="btn" ng-style="item.buttonColor"><a href="mailto:zhonghe.wen@gatech.edu?">More Details? REACH OUT TO ME!</a> </button>
					</div>
				</div>		
			</div>
			<!-- /DETAILS -->	

		</div>
		<!-- CONTENTS -->

	</div>


</div>


	<!-- /WRAPPER -->	



	<!-- Javascript files -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>	
    <script>
        angular.module('Zhonghe Portfolio',[])
        .controller('previewController', ['$scope', '$location', '$anchorScroll','$document','$window',function($scope, $location, $anchorScroll, $document, $window) {

        	$scope.headline = "Hi! I am Zhonghe!";
            $scope.introClass = "home-title";

        	$scope.selfIntro = {
        		greeting: "Hi! I am Zhonghe!",
        		sell: "I am a second year MS-HCI student at GeorgiaTech. Here I grew up rapidly, understanding how to conduct research/choose research method, how to justify the design, how to express myself. Most importantly, I become confident and be proud of meself! I've learned so many new technologies this year, from design tools (sketch, AE, inVision), to physical prototyping method(3d printing, laser cut), to front-end language (html, css, javascript, and many other js libraries), to data manipulation (python and sklearn). Now, I truly belive that I could and would love to take challenges. Life is always about challenging ourself and I am ready for it!"
        	};

        	$scope.setIntro = function(text) {
        		if (text == "sell") {
        			$scope.headline = $scope.selfIntro.sell ;
                    $scope.introClass = "home-intro";

        		}
        		else {
        			$scope.headline = $scope.selfIntro.greeting;
                    $scope.introClass = "home-title";                    
        		}
        	}

        	$scope.project = [
        	{
        		id: "amazoningReview",
        		projInd: 0,
        		trycolor:"#EC6773",
        		brief:"Amazoning Review, Save you from a sea of reviews | ",
        		duration:" Jan. - present 2018",
        		mainColor: {
        			"background-color": "#CAEBF2"
        		},
        		fontColor: {
        			"color": "#3EA1B6"
        		} ,       		
        		buttonColor:{
        			"background-color": "#4A90E2"
        		},
        		hashTag:"#Data visualization",
        		backGroundImg:"",
        		backgroundVideo:"videos/design3.mov",
        		img:"images/mockup.png",
        		title:"Amazoning Review",
        		story:"Mary wants a pair of earbuds. She searches 'sport earbuds' on Amazon and opens many earbud pages. She reads over the product description but still doesn't understand whether the earbuds is good for jogging. She tries to read reviews to understand it and gets lost in the overwhelming reviews. Want to check out how we solve the problem?",
        		highlight:"#DataVisualization",
        		myRole:"(Personal Project) Designer; Researcher; Developer",
        		projectLink:"amazoningReview.html",
        		button:"VIEW DETAILS"
        	},        	
        	{
        		id: "potluck",
        		projInd: 1,
        		trycolor:"#EC6773",
        		brief:"Potluck, Your on-campus dining saver | ",
        		duration:" Aug. - Dec. 2016",
        		mainColor: {
        			"background-color": "#FCE7E9"
        		},
        		fontColor: {
        			"color": "#EC6773"
        		} ,       		
        		buttonColor:{
        			"background-color": "#EC6773"
        		},
        		hashTag:"#Strict user-centered design process",
        		backGroundImg:"",
        		backgroundVideo:"videos/potluckVideo.mp4",
        		img:"images/mockup.png",
        		title:"POTLUCK",
        		story:"Imagine you are on a trip to Mexico and would like to try out local foods. However, you couldn’t figure out which dishes are delicious so you have to randomly order something. And it’s AWFUL! Want to check out how we solve the problem?",
        		highlight:"#UserCenteredDesign #MobileAppDesign",
        		myRole:"Lead designer; Researcher",
        		projectLink:"project01.html",
        		button:"VIEW DETAILS"
        	},
        	{
        		id: "minibay",        		
        		projInd: 2,
        		brief:"Minibay, Grandma's nutrition instructor | ",
        		duration:"Jan. - May 2017",        		
        		mainColor: {
        			"background-color": "#E7FCFA"
        		},   
        		fontColor: {
        			"color": "#3CC1A3"
        		} ,       		
        		buttonColor:{
        			"background-color": "#50E3C2"
        		},       		     		
        		hashTag:"",
        		backGroundImg:"",
        		backgroundVideo:"videos/miniBayVideo.mp4",
        		img:"",
        		title:"MINIBAY",
        		story:"David’s mom have been over 70 and suffers from hyperglicemia. She really wants nutrition instructions and maintains health with easy technology. In the meantime, David wants to provide care to his parents while having his own busy life. Want to check out how we develop a solution satisfying both the parent and the kid?",
        		highlight:"#SmartHome #DesignForTheElderly",
        		myRole:"Designer of the dashboard/box prototype",
        		projectLink:"project02.html",
        		button:"VIEW DETAILS"        		
        	},
        	{
        		id : "omniar",
        		projInd: 3,
        		brief:"OmniAR, Efficient AR shopping experience for Warmart | ",
        		duration:"Jan. - May 2017",         		
        		mainColor: {
        			"background-color": "#FCF9E7"
        		},   
        		fontColor: {
        			"color": "#E3AA50"
        		} ,       		
        		buttonColor:{
        			"background-color": "#E3AA50"
        		},
        		hashTag:"",
        		backGroundImg:"",
        		backgroundVideo:"videos/omniARVideo.mp4",
        		img:"",
        		title:"OmniAR",
        		story:"Mary finds her windshield cleaner has depleted so she decides to get new cleaner at nearby Walmart. However, she can't find it at Walmart. She asks the Walmart associate. But the person is so busy that can't help her. Want to check out how we better the shopping experience?",
        		highlight:"#ComplicatedUserGroup #AR",
        		myRole:"Lead designer",
                projectLink:"project03.html",
        		button:"View details"        		        		
        	}];


        	$scope.work = [
        	{
        		id : "adp",
        		projInd: 4,
        		brief:"ADP, Inc., UX Design Intern | ",
        		duration:"May - Aug. 2017",         		
        		mainColor: {
        			"background-color": "#FFF3EC"
        		},   
        		fontColor: {
        			"color": "#DC7119"
        		} ,       		
        		buttonColor:{
        			"background-color": "#F28932"
        		},
        		hashTag:"",
        		backGroundImg:"images/adpPrev.png",
        		backgroundVideo:"",
        		img:"",
        		title:"ADP",
        		overview:"ADP offers Payroll Services, HR Software and Tax and Compliance services for businesses of all sizes. My major project was redesigning the Open Enrollment center where HR annually set up the enrollment of benefit plan for their employees. ",
        		responsibilities:"1.Designed the webpage following ADP visual guideline; 2.Participated in design iteration and delivered the design to the development team with prototype and design annotation; 3.Led validation research which justify new designs; 4.Participated in other cross-team early-stage or mid-stage research to prepare for future updates",
                deliverables:"InVision prototype, Design annotation",
                challenges:"Quickly get familiar with the context; Narrow down design scope; Conducted research to support design",
                highlight: "#CRM #DesignValidation" 		
        	},
        	{
        		id : "camore",
        		projInd: 5,
        		brief:"Beijing Camore Health&Tech Co. Ltd., UX Design Intern | ",
        		duration:"Jan. - May 2015",         		
        		mainColor: {
        			"background-color": "#F3F4FA"
        		},   
        		fontColor: {
        			"color": "#5A7AB0"
        		} ,       		
        		buttonColor:{
        			"background-color": "#5A7AB0"
        		},
        		hashTag:"",
        		backGroundImg:"images/camorePrev.png",
        		backgroundVideo:"",
        		img:"",
        		title:"CAMORE",
        		overview:"Camore is an e-commerce company providing 60-min medicine delivery service for customers. My major project was designing the management system supporting employees' operations (managing medicines, providing customer services).",
        		deliverables:"Axure prototype",
        		responsibilities:"1.Built the information architecture and created detailed interaction flow of our e-commerce management system (employee side); 2.Created wireframe and web pages of the management system; 3.Participated in agile development and design iteration",
                challenges:"Start building information architecture from scratch",
                highlight:"#CRM #Startup #AgileDevelopment"
        	}      	        	
        	];

        	$scope.className= 'amazoningReview';

        	$scope.setClass = function(className) {
        		$scope.className = className;
			      
			    // set the location.hash to the id of
			    // the element you wish to scroll to.
			    if (className == 'amazoningReview') {
			    	$location.hash('amazoningReview');
			    	$anchorScroll();

			    }
			    else if (className == 'potluck') {
			    	$location.hash('potluck');
			    	$anchorScroll();
			    }			    
			    else if (className == 'minibay') {
			    	$location.hash('minibay');
			    	$anchorScroll();
			    }
			    else if (className == 'omniar') {
			    	$location.hash('omniar');
			    	$anchorScroll();		    		    	
			    }	
			    else if (className == 'adp') {
			    	$location.hash('adp');
			    	$anchorScroll();
			    }
			    else if (className == 'camore') {
			    	$location.hash('camore');
			    	$anchorScroll();
			    }		    
        	};


        	angular.element(function() {

				var amazoningReview = angular.element(document.getElementById("amazoningReview")).prop('offsetTop');

				var pot = angular.element(document.getElementById("potluck")).prop('offsetTop');
				//console.log(pot);

				var mini = angular.element(document.getElementById("minibay")).prop('offsetTop');
				//console.log(mini);

				var omni = angular.element(document.getElementById("omniar")).prop('offsetTop');
				//console.log(omni);

				var adp = angular.element(document.getElementById("adp")).prop('offsetTop');		
				var camore = angular.element(document.getElementById("camore")).prop('offsetTop');

  				angular.element($window).bind('scroll', function(e) {
  					$scope.$apply( function() {
	         			var Ytop = $window.pageYOffset;
	         			//console.log(Ytop);
	                    if (Ytop >= amazoningReview && Ytop <= pot) {
	                    	$scope.className = 'amazoningReview';
	                    }
	                    else if (Ytop >= pot && Ytop < mini) {
	             	      	$scope.className = 'potluck';
	                    }
	                    else if (Ytop >= mini && Ytop < omni) {
	             	      	$scope.className = 'minibay';
	                    }
	                    else if (Ytop >= omni && Ytop < adp) {
	             	      	$scope.className = 'omniar';
	                    } 
	                    else if (Ytop >= adp && Ytop < camore) {
	             	      	$scope.className = 'adp';
	                    }
	                    else if (Ytop >= camore ) {
	             	      	$scope.className = 'camore';
	                    } ;               	                                      
  					});

    			});


    		});

        		
        	


      	

  		}]);
    </script>	



</body>

</html>