<!DOCTYPE html>
<html lang="en" ng-app="Zhonghe Portfolio">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>Zhonghe Wen</title>
	
	<link rel="shortcut icon" href="images/ZhongheLogoSmall.png">
	
	<!-- Bootstrap core CSS -->
	<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- Plugins -->
	<link href="assets/css/font-awesome.min.css" rel="stylesheet">
	
	<!-- Template core CSS -->
	<link href="assets/css/main.css" rel="stylesheet">
	<script type="text/javascript">
		window.onload = function(){
	    setTimeout(function(){
	    var loader = document.getElementsByClassName("page-loader")[0];
	    loader.className="loader" ;//使用渐隐的方法淡出loading page
	    setTimeout(function(){loader.style.display="none"},3000)
	    },3000)//强制显示loading page 1s
	}
	</script>
</head>


<body>
<div class="WRAPPER">

	<!-- PRELOADER -->
	<div class="page-loader" >
		<div class="loader">
		  <div class="dot"></div>
		  <div class="dot"></div>
		  <div class="dot"></div>
		</div>
	</div> 
	<!-- /PRELOADER -->	


	<!-- WRAPPER -->
	<div class="main-body">
		<!-- NAVIGATION -->
		<header class="left-bar">
			<div class="padding-top">
				<img src="images/ZhongheLogo.png" style="margin-left: 15%; width: 70%;">
			</div>

			<div class="social-link">
				<div class="padding-bottom">
					<ul class="non-bullet-ul">
						<li><a href="https://zhonghewen.github.io/images/ZhongheWen_Resume.pdf"><i class="fa fa-download"></i></a></li>
						<li><a href="https://www.linkedin.com/in/zhonghewen"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="mailto:zhonghe.wen@gatech.edu?"><i class="fa fa-envelope-o"></i></a></li>
					</ul>
				</div>
			</div>
		</header>
		<!-- /NAVIGATION -->


		<!-- CONTENTS -->
		<div class="main-content" ng-controller="previewController">

			<!-- TIMELINE -->
			<div class="timeline">
				<div class="timeline-title">
					<p ng-mouseenter="setIntro('sell')" ng-mouseleave="setIntro('greeting')" ng-class="{'home-title': headline == 'Hi! I am Zhonghe!'}" >{{headline}}</p>
					<p class="content-title">A UX designer with curiosity of the world and passion to solve problems.</p>
					<p ><a href="https://zhonghewen.github.io/images/ZhongheWen_Resume.pdf"><i class="fa fa-download"></i> Dowload My Resume </a></p>

				</div>

				<div class="projects" id="projectNav">
					<div class="content-title">PROJECTS</div>
					<ul class="non-bullet-ul">
						<li class="project-item" ng-mouseover="setClass('potluck')" ng-class="{'activePotluck': className == 'potluck'}" >
							<a href="" ><p>{{project[0].brief}}</p><span>&nbsp;{{project[0].duration}}</span></a>
						</li>
						<li class="project-item" id="minibayIndex" ng-mouseover="setClass('minibay')" ng-class="{'activeMinibay': className == 'minibay'}" >
							<a href="" ><p>{{project[1].brief}}</p><span>&nbsp;{{project[1].duration}}</span></a>
						</li>	
						<li class="project-item" ng-mouseover="setClass('omniar')" ng-class="{'activeOmniar': className == 'omniar'}" >
							<a href="" ><p>{{project[2].brief}}</p><span>&nbsp;{{project[2].duration}}</span></a>
						</li>										
					</ul>
				</div>

				<div class="works">
					<div class="content-title">WORKS</div>					
					<ul class="non-bullet-ul">
						<li class="project-item" ng-mouseover="setClass('adp')" ng-class="{'activeAdp': className == 'adp'}" >
							<a href=""><p>{{work[0].brief}}</p><span>&nbsp; {{work[0].duration}}</span></a>
						</li>
						<li class="project-item" ng-mouseover="setClass('host')" ng-class="{'activeHost': className == 'host'}" >
							<a href=""><p>{{work[1].brief}}</p><span>&nbsp; {{work[1].duration}}</span></a>
						</li>	
						<li class="project-item" ng-mouseover="setClass('camore')" ng-class="{'activeCamore': className == 'camore'}" >
							<a href="" ><p>{{work[2].brief}}</p><span>&nbsp; {{work[2].duration}}</span></a>
						</li>
					</ul>
				</div>	

						
			</div>
			<!-- /TIMELINE -->

			<!-- DETAILS -->
			<div class="project-des">
				<div class="project-des-item " id={{item.id}} ng-repeat="item in project" ng-style="item.mainColor" >
					<div class="preview" >
						<!--<p style="z-index: 1; color: white; padding: 0px;">
						{{item.hashTag}}	</p>	-->			
						<video src="{{item.backgroundVideo}}" width="100%" controls="controls" loop></video>	
						<!--<img src="{{item.img}}">-->
					</div>
					<div class="description">
						<div>
							<p class="content-title font-alt-cap">{{item.title}}</p>	
						</div>
						<div>
							<p class="font-alt-b">Story</p>
							<p>{{item.story}}</p>
							<p class="font-alt-b">Highlights</p>
							<p>{{item.highlight}}</p>
							<p class="font-alt-b">My Role</p>
							<p>{{item.myRole}}</p>
						</div>
						<button class="btn" ng-style="item.buttonColor" > <a href="{{item.projectLink}}">{{item.button}}</a></button>
					</div>
				</div>
				<div class="project-des-item " id={{item.id}} ng-repeat="item in work" ng-style="item.mainColor" >
					<div class="preview" >
						<a href="" id="{{item.id}}" ></a>
						<!--<p>{{item.hashTag}}</p>-->
						<img src="{{item.backGroundImg}}">
					</div>
					<div class="description" >
						<div>
							<p class="content-title font-alt-cap">{{item.title}}</p>	
						</div>
						<div>
							<p class="font-alt-b">Overview</p>
							<p>{{item.overview}}</p>
							<p class="font-alt-b">Outcomes</p>
							<p>{{item.outcomes}}</p>
							<p class="font-alt-b">Learned</p>
							<p>{{item.learned}}</p>
							<p class="font-alt-b">Interesting Facts</p>
							<p>{{item.interestingFact}}</p>							
						</div>
						<button class="btn" ng-style="item.buttonColor"><a href="mailto:zhonghe.wen@gatech.edu?">More Details? REACH OUT TO ME!</a> </button>
					</div>
				</div>		
			</div>
			<!-- /DETAILS -->	

		</div>
		<!-- CONTENTS -->

	</div>


</div>


	<!-- /WRAPPER -->	



	<!-- Javascript files -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>	
    <script>
        angular.module('Zhonghe Portfolio',[])
        .controller('previewController', ['$scope', '$location', '$anchorScroll','$document','$window',function($scope, $location, $anchorScroll, $document, $window) {

        	$scope.headline = "Hi! I am Zhonghe!";

        	$scope.selfIntro = {
        		greeting: "Hi! I am Zhonghe!",
        		sell: "I am a second year MS-HCI student at GeorgiaTech. Here I grew up rapidly, understanding how to conduct research/choose research method, how to justify the design, how to express myself. Most importantly, I become confident and be proud of meself! I've learned so many new technologies within one year, from design tools (sketch, AE, inVision), to physical prototyping method(3d printing, laser cut), to front-end language (html, css, javascript, and many other js libraries), to data manipulation (python and machine learning library sklearn). Now, I truly belive that I could and would love to take challenges. Life is always about challenging ourself and I am ready for it!"
        	};

        	$scope.setIntro = function(text) {
        		if (text == "sell") {
        			$scope.headline = $scope.selfIntro.sell ;
        		}
        		else {
        			$scope.headline = $scope.selfIntro.greeting;
        		}
        	}

        	$scope.project = [
        	{
        		id: "potluck",
        		projInd: 1,
        		trycolor:"#EC6773",
        		brief:"Potluck, Your on-campus dining saver | ",
        		duration:" Aug. - Dec. 2016",
        		mainColor: {
        			"background-color": "#CAEBF2"
        		},
        		fontColor: {
        			"color": "#3EA1B6"
        		} ,       		
        		buttonColor:{
        			"background-color": "#4A90E2"
        		},
        		hashTag:"#Strict user-centered design process",
        		backGroundImg:"",
        		backgroundVideo:"videos/potluckVideo.mp4",
        		img:"images/mockup.png",
        		title:"POTLUCK",
        		story:"Imagine you are on a trip to Spain and would like to try out local foods. However, you couldn’t figure out which dishes are delicious so you have to randomly order something. You taste it with high expectation. BUT, it’s AWFUL! Want to check out how we solve the problem?",
        		highlight:"Strict user-centered design process",
        		myRole:"Lead designer; Researcher",
        		projectLink:"project01.html",
        		button:"VIEW DETAILS"
        	},
        	{
        		id: "minibay",        		
        		projInd: 2,
        		brief:"Minibay, Your inventory management helper | ",
        		duration:"Jan. - May 2017",        		
        		mainColor: {
        			"background-color": "#FCE7E9"
        		},   
        		fontColor: {
        			"color": "#EC6773"
        		} ,       		
        		buttonColor:{
        			"background-color": "#EC6773"
        		},        		     		
        		hashTag:"#Cross platform products #Communication with developers",
        		backGroundImg:"",
        		backgroundVideo:"videos/miniBayVideo.mp4",
        		img:"",
        		title:"MINIBAY",
        		story:"David’s parents have been over 70 and always foget when they purchased some fresh produce. And they really want instructions on keeping a healthy diet. | David cares his parents very much. However, he is too busy to visit them regularly. He would really like to keep informed about their health condition and help them to live in a healthier diet. Want to check out how we develop a solution satisfying both the parents and the kid?",
        		highlight:"Cross platform products; Communication with developers",
        		myRole:"Designer of the dashboard/box prototype; Developer of the dashboard",
        		projectLink:"project02.html",
        		button:"VIEW DETAILS"        		
        	},
        	{
        		id : "omniar",
        		projInd: 3,
        		brief:"OmniAR, AR shopping experience design for Walmart | ",
        		duration:"Jan. - May 2017",         		
        		mainColor: {
        			"background-color": "#E7FCFA"
        		},   
        		fontColor: {
        			"color": "#3CC1A3"
        		} ,       		
        		buttonColor:{
        			"background-color": "#50E3C2"
        		},
        		hashTag:"",
        		backGroundImg:"",
        		backgroundVideo:"videos/omniARVideo.mp4",
        		img:"",
        		title:"OmniAR",
        		story:"Mary finds her windshield cleaner has ran out so she decides to go to the nearby Walmart to purchase it. However, when she gets there she circled 3 rounds but still couldn’t find windshield. She asks a nearby associate. But the associate is busy cleaning up the shelf and seems tired. Want to check out how we better the shopping experience?",
        		highlight:"Real-world client; Solve problems of complicated user group",
        		myRole:"Designer involved in research",
        		url:"",
        		button:"COMING SOON"        		        		
        	}];


        	$scope.work = [
        	{
        		id : "adp",
        		projInd: 4,
        		brief:"ADP, Inc., UX Design Intern | ",
        		duration:"May - Aug. 2017",         		
        		mainColor: {
        			"background-color": "#FCF9E7"
        		},   
        		fontColor: {
        			"color": "#E3AA50"
        		} ,       		
        		buttonColor:{
        			"background-color": "#E3AA50"
        		},
        		hashTag:"",
        		backGroundImg:"images/adpPrev.png",
        		backgroundVideo:"",
        		img:"",
        		title:"ADP",
        		overview:"ADP offers Payroll Services, HR Software and Tax and Compliance services for businesses of all sizes. My major project there was redesigning part of the benefit center where HR annually set up the enrollment of benefit plan for their employees. The setting is always very complicated since it involves communication with various departments like the insurance company, the broker, payroll department, etc. So our goal of this iteration is to provide clear instructions on when to contact which department to get the setting going through smoothly.",
        		outcomes:"New design of benefit center; Validation report of new design",
        		myRole:"Designer involved in research",
        		learned:"How to negotiate with stakeholders to understand their goal, adjusting the design satisfying both of us; 2.How to conduct user research to defend important design when facing questions from stakeholders; 3.How to read the create consistent design when there isn’t standard component;4.How to annotate design and communicate with developers.",
        		interestingFact:"In my validation research of new design, the research tool has crushed down. Want to know how I deal with it?; A small budget left at the end of physical year, how we make use of it to prepare for future research and design?" 		
        	},
        	{
        		id : "host",
        		projInd: 5,
        		brief:"Beijing Host Co. Ltd., UX Design Intern | ",
        		duration:"Dec. 2015 - Feb. 2016",         		
        		mainColor: {
        			"background-color": "#EAEBE8"
        		},   
        		fontColor: {
        			"color": "#7A8D75"
        		} ,       		
        		buttonColor:{
        			"background-color": "#7A8D75"
        		},
        		hashTag:"",
        		backGroundImg:"images/hostPrev.png",
        		backgroundVideo:"",
        		img:"",
        		title:"HOST",
        		overview:"HOST is a company providing operation solutions for official accounts on Wechat (the most popular Chinese social platform). It helps the official account owners analyze their followers and provide high-quality contents to followers. It also develops multiple software to help official accounts owners to held online activities. However, there wasn’t clear and unified instructions on the use of these software. So my major project here was testing the user experience of our software, giving design improvement suggestions and writing instruction manual.",
        		outcomes:" Research report of inconsistent design across software; Instruction manual of our software",
        		myRole:"Designer involved in research",
        		learned:"1.How to conduct quick and dirty user research within internal team when the resource is limited; 2.How important visual and language consistency is.",
        		interestingFact:"Understand of the development of third-party company of popular social platform."		
        	},
        	{
        		id : "camore",
        		projInd: 6,
        		brief:"Beijing Camore Health&Tech Co. Ltd., UX Design Intern | ",
        		duration:"Jan. - May 2015",         		
        		mainColor: {
        			"background-color": "#F3F4FA"
        		},   
        		fontColor: {
        			"color": "#5A7AB0"
        		} ,       		
        		buttonColor:{
        			"background-color": "#5A7AB0"
        		},
        		hashTag:"",
        		backGroundImg:"images/camorePrev.png",
        		backgroundVideo:"",
        		img:"",
        		title:"CAMORE",
        		overview:"Camore is an E-commerce company providing 60-min medicine delivery service for people who encounter health issues. At the point I joined them they have developed the customer-side app but haven’t started on the employee-side medicine management system. So I started with a business flow chart and collaborate with product manager/ developers to design the information structure, prototype and the detailed web page.",
        		outcomes:"1.Prototype of the internal management system; 2.Mobile app design of delivery men used app. (side project)",
        		myRole:"Designer involved in research",
        		learned:"1.How to collaborate with product manager and developer to understand the expectations and limitations, adjusting the design; 2.The structure of management system model.",
        		interestingFact:""		
        	}      	        	
        	];

        	$scope.className= 'potluck';

        	$scope.setClass = function(className) {
        		$scope.className = className;
			      
			    // set the location.hash to the id of
			    // the element you wish to scroll to.
			    if (className == 'potluck') {
			    	$location.hash('potluck');
			    	$anchorScroll();

			    }
			    else if (className == 'minibay') {
			    	$location.hash('minibay');
			    	$anchorScroll();
			    }
			    else if (className == 'omniar') {
			    	$location.hash('omniar');
			    	$anchorScroll();		    		    	
			    }	
			    else if (className == 'adp') {
			    	$location.hash('adp');
			    	$anchorScroll();
			    }
			    else if (className == 'host') {
			    	$location.hash('host');
			    	$anchorScroll();
			    }
			    else if (className == 'camore') {
			    	$location.hash('camore');
			    	$anchorScroll();
			    }		    
        	};


        	angular.element(function() {
				var pot = angular.element(document.getElementById("potluck")).prop('offsetTop');
				//console.log(pot);

				var mini = angular.element(document.getElementById("minibay")).prop('offsetTop');
				//console.log(mini);

				var omni = angular.element(document.getElementById("omniar")).prop('offsetTop');
				//console.log(omni);

				var adp = angular.element(document.getElementById("adp")).prop('offsetTop');
				var host = angular.element(document.getElementById("host")).prop('offsetTop');			
				var camore = angular.element(document.getElementById("camore")).prop('offsetTop');

  				angular.element($window).bind('scroll', function(e) {
  					$scope.$apply( function() {
	         			var Ytop = $window.pageYOffset;
	         			//console.log(Ytop);
	                    if (Ytop >= pot && Ytop <= mini) {
	                    	$scope.className = 'potluck';
	                    }
	                    else if (Ytop >= mini && Ytop <= omni) {
	             	      	$scope.className = 'minibay';
	                    }
	                    else if (Ytop >= omni && Ytop <= adp) {
	             	      	$scope.className = 'omniar';
	                    } 
	                    else if (Ytop >= adp && Ytop <= host) {
	             	      	$scope.className = 'adp';
	                    }
	                    else if (Ytop >= host && Ytop <= camore) {
	             	      	$scope.className = 'host';
	                    }
	                    else if (Ytop >= camore) {
	             	      	$scope.className = 'camore';
	                    } ;               	                                      
  					});

    			});


    		});

        		
        	


      	

  		}]);

    </script>	



</body>

</html>